@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --primary-color: rgb(105, 40, 93);
  --secondary-color: rgb(255, 211, 0);
  --white-color: white;
  --red-color: rgb(249, 0, 0);
  ---black-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black !important ;
}

/* styles.css */

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section-half-first {
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  color: var(--black-color);
}
.section-half-second {
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
}

.ul-text-center1 {
  text-align: center;
  display: flex;
  row-gap: 10px;
  column-gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  /* width: 95%; */
  text-align: center;
}
.ul-text-center2 {
  text-align: center;
  display: flex;
  row-gap: 10px;
  column-gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  /* width: 90%; */
  text-align: center;
}

.bg-blue1 {
  /* background-color: rgba(0, 0, 0, 0.351); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 4rem;
  color: var(--black-color);
  list-style: none;
  margin: 0 20px;
}
.bg-blue2 {
  /* background-color: rgba(0, 0, 0, 0.351); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 4rem;
  color: var(--white-color);
  list-style: none;
  margin: 0 20px;
}

.sentence1 {
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: 30px;
  border-bottom: 3px solid black;
  width: 80%;
  color: var(--black-color);
}
.sentence2 {
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: 30px;
  border-bottom: 3px solid white;
  width: 80%;
  color: var(--white-color);
}

.word1 {
  color: var(--black-color);
  font-size: 2rem;
}
.word2 {
  color: var(--white-color);
  font-size: 2rem;
}
